@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

h5 {
  font-family: 'Source Code Pro', monospace;
  /* font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal; */
}

.icons {
  font-size: 3rem;
  color: red;
  text-align: center;
  border: 1px solid black;
}
