.app {
  /* background-color: blue; */
  max-width: 500px;
  margin: 8rem auto;
  padding: 20px;
  border-radius: 3px;
  background-image: linear-gradient(white, orange);
  box-shadow: 2px 2px 10px lightgray;
}
.app h3 {
  text-align: center;
}
.btn {
  background-color: white;
  padding: 7px;
  border: 1px solid black;
  width: 20%;
  margin-right: 1rem;
}
h2 {
  text-align: center;
}
